body {
  background-color: #000;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header,
.footer {
  background-color: #fff;
  height: 75px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 600px;
  width: 400px;
  border: #fff solid 2px;
}